= form_tag(recipes_path, method: 'POST') do

  = label_tag('ingredients[Meat Shreds]', 'Meat Shreds')
  = select_tag('ingredients[Meat Shreds]', options_for_select(['Deer']))
  = label_tag('ingredients[Cabbage]', 'Cabbage')
  = select_tag('ingredients[Cabbage]', options_for_select(['Red Cabbage','White Cabbage']))
  = submit_tag('Calculate')
